* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    max-width: 100%;
    max-width: 1600px;
}
/* shared styles */
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
/* Main styles */

header{
    background-color: #FFFFFF;
    padding-top: 16px; 
    background-image: url(assets/hero-bg.png);
    background-position: bottom;
    height: 766px;
    background-repeat: no-repeat;
}
/* Navbar Styles */
nav{
    max-width: 1360px;
    width: 85%;
    border: none;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.logo img{
    max-width: 139px; 
    cursor: pointer;  
}
.menu{
    max-width: 365px;
}
.menu ul{
    display: flex;
    gap: 32px;
    padding-top: 18px;
    /* line-height: 152%; */
}
.menu li{
    display: flex;
    list-style: none;
    font-size: 16px;
    font-weight: medium;
    color: #000000;
    cursor: pointer;
}
.menu li:hover{
    background-color: #30B868;
    border-radius: 900px;
    width: fit-content;
}
nav .btn-1{
    padding-top: 8px;
}
nav .btn-1 button{
    background-color: #30B868;
    border: none;
    border-radius: 4px;
    max-width: 164px;
    padding: 12.5px 16px;
    font-size: 16px;
    font-weight: semi-bold;
    line-height: auto;
    color: #FFFFFF;
    cursor: pointer;
}
nav .btn-1 button:hover, .outro .btn-4 button:hover{
    text-decoration: underline;
}

/* Banner styles */

.banner-details{
    /* border: 1px solid red; */
    max-width: 1360px;
    width: 85%;
    /* height: 379px; */
    /* align-items: center; */
    /* text-align: center; */
    margin: 131.5px 120px;
    padding: 0px 295px;
}
.banner .banner-caption{
    /* border: 1px solid red; */
    border-radius: 1000px;
    margin: 0 auto;
    max-width: 229px;
    height: 35px;
    padding: 8px 12px;
    background-color: #FFFFFF;
    display: flex;
    gap: 1.5px;
    cursor: pointer;
}
.banner .banner-caption p{
    margin-left: 2px ; 
    font-size: 16px;
    font-weight: medium;
    color: #30B868;
}
.banner .banner-caption img{
    margin-right: 2px;
    max-width: 16px;
    max-height: 16px;
}
.banner-details .banner-title{
    margin: 0 auto;
    padding-top: 16px;
    font-size: 72px;
    line-height: 84px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    text-transform: capitalize;
}
.banner-details .banner-text{
    text-align: center;
    margin: 0 auto;
    padding-top: 16px;
    font-size: 18px;
    line-height: 24px;
    font-weight: regular;
    color: #FFFFFF;
}
.banner-details .banner-btns{
    /* border: 1px solid red; */
    margin: 0 auto;
    padding-top: 32px;
    max-width: 465px;
    display: flex;
    justify-content: center;
    gap: 16px;
}
.banner-details .banner-btns .btn-2{
    max-width: 251px;
    background-color: #30B868;
    padding: 16px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: semi-bold;
    color: #FFFFFF;
    cursor: pointer;
}
.banner-details .banner-btns .btn-2:hover{
    text-decoration: underline;
}
.banner-details .banner-btns .btn-3{
    max-width: 198px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 4px;
    font-size: 16px;
    font-weight: semi-bold;
    padding: 16px;
    color: #FFFFFF;
    cursor: pointer;
}
.banner-details .banner-btns .btn-3:hover{
    text-decoration: underline;
}

/* cards-styles */

.cards-section{
    max-width: 1360px;
    width: 85%;
    margin: 0 auto;
    /* text-align: center; */
    /* background-color: chocolate; */
}
.cards-section .section-title{
    /* border: 1px solid red; */
    padding-top: 60px;
    height: 152px;
    text-align: center;
}
.cards-section .section-title #heading{
    font-size: 48px;
    font-weight: bold;  
    color: #001931; 
}
.cards-section .section-title #text{
    padding: 16px;
    line-height: 20px;
    color: #627382;
    font-size: 16px;
    font-weight: regular;
}
.cards-section .cards-container{
    padding-top: 44px;
    display: flex;
    gap: 24px;
    max-width: 1360px; 
}
.cards-section .cards-container .cards{
    /* border: 1px solid red; */
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
    max-width: 322px;
    height: 300px;
    padding: 24px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;  
}
.cards-section .cards-container .cards img{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F95555;
    border-radius: 1000px;
    padding: 14px;   
}
.cards-section .cards-container .cards h3{
    font-size: 24px;
    font-weight: semi-bold;
    color: #001931;
}
.cards-section .cards-container .cards p{
    font-size: 16px;
    font-weight: regular;
    color: #627382;
}

/* apps-styles */

.apps{
    /* max-width: 1360px; */
    padding: 120px;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    gap: 60px;
}
.apps .app-img img{
    width: 600px;
    height: 600px;
}
.apps .apps-details{
    max-width: 700px;
    /* border: 1px solid red; */
    padding-top: 102px;
    margin: 0 auto;
    text-align: left;
}
.apps .apps-details .apps-caption{
    font-size: 16px;
    font-weight: medium;
    line-height: 20px;
    color: #30B868;
}
.apps .apps-details .apps-heading{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    padding-top: 16px;
}
.apps .apps-details .apps-text{
    font-size: 16px;
    font-weight: regular;
    color: #627382;
    padding-top: 16px;
}
.apps .apps-details .apps-points{
    padding-top: 40px;
}

/* outro-styles */

.outro{
    /* border: 1px solid red; */
    background-color: #F7F6F2;
    max-width: 1360px;
    height: 365px;
    margin: 0 120px 120px 120px;
    text-align: center;
    padding-top: 80px;
}
.outro .outro-title{
    /* text-align: center; */
    /* margin: 0 auto; */
    font-size: 40px;
    font-weight: bold;
    color: #001931;
    text-transform: capitalize;
}
.outro .outro-text-1{
    text-align: center;
    margin: 0 auto;
    font-size: 16px;
    font-weight: regular;
    color: #627382;
    line-height: 24px;
    padding-top: 16px;
}
.outro .btn-4{
    padding-top: 24px;
    margin: 0 auto;
}
.outro .btn-4 button{
    background-color: #30B868;
    border: none;
    border-radius: 4px;
    max-width: 194px;
    font-size: 16px;
    font-weight: semi-bold;
    color: #FFFFFF;
    padding: 16.5px 16px;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15) ;
}
.outro .outro-text-2{
    padding-top: 16px;
    font-size: 16px;
    font-weight: regular;
    color: #627382;
    line-height: 20px;
    margin: 0 auto;
}

/* footer-styles */

footer{
    margin: 0 auto;
    padding: 120px 120px 30px 120px;
    background-color: #001931;
    color: #FFFFFF;
}
footer .social{
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}
.link{
    max-width: 220px;
}
.links p{
    font-size: 20px;
    font-weight: medium;
    padding-right: 107px;
    padding-bottom: 16px;
}
.links .icons{
    padding-right: 128px;
    display: flex;
    justify-content: space-between;
}
.copyright{
    /* border: 1px solid red; */
    margin-top: 30px;
    text-align: center;
    font-size: 16px;
    font-weight: regular;
    line-height: 24px;
}