* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    max-width: 100%;
    max-width: 1600px;
}
/* shared styles */
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
/* Main styles */

header{
    background-color: #ffffff;
    padding-top: 16px; 
    background-image: url(assets/hero-bg.png);
    background-position: bottom;
    height: 766px;
    background-repeat: no-repeat;
}
/* Navbar Styles */
nav{
    max-width: 1360px;
    width: 85%;
    border: none;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.logo img{
    max-width: 139px; 
    cursor: pointer;  
}
.menu{
    max-width: 365px;
}
.menu ul{
    display: flex;
    gap: 32px;
    padding-top: 18px;
    /* line-height: 152%; */
}
.menu li{
    display: flex;
    list-style: none;
    font-size: 16px;
    font-weight: medium;
    color: #000000;
    cursor: pointer;
}
.menu li:hover{
    background-color: #30B868;
}
nav .btn-1{
    padding-top: 8px;
}
nav .btn-1 button{
    background-color: #30B868;
    border: none;
    border-radius: 4px;
    max-width: 164px;
    padding: 12.5px 16px;
    font-size: 16px;
    font-weight: semi-bold;
    line-height: auto;
    color: #FFFFFF;
    cursor: pointer;
}

/* Banner styles */
.banner{
    

}