* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    max-width: 100%;
    max-width: 1600px;
}
/* shared styles */
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
/* Main styles */

header{
    background-color: #FFFFFF;
    padding-top: 16px; 
    background-image: url(assets/hero-bg.png);
    background-position: bottom;
    height: 766px;
    background-repeat: no-repeat;
}
/* Navbar Styles */
nav{
    max-width: 1360px;
    width: 85%;
    border: none;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.logo img{
    max-width: 139px; 
    cursor: pointer;  
}
.menu{
    max-width: 365px;
}
.menu ul{
    display: flex;
    gap: 32px;
    padding-top: 18px;
    /* line-height: 152%; */
}
.menu li{
    display: flex;
    list-style: none;
    font-size: 16px;
    font-weight: medium;
    color: #000000;
    cursor: pointer;
}
.menu li:hover{
    background-color: #30B868;
}
nav .btn-1{
    padding-top: 8px;
}
nav .btn-1 button{
    background-color: #30B868;
    border: none;
    border-radius: 4px;
    max-width: 164px;
    padding: 12.5px 16px;
    font-size: 16px;
    font-weight: semi-bold;
    line-height: auto;
    color: #FFFFFF;
    cursor: pointer;
}

/* Banner styles */
.banner-details{
    /* border: 1px solid red; */
    max-width: 1360px;
    width: 85%;
    /* height: 379px; */
    /* align-items: center; */
    /* text-align: center; */
    margin: 131.5px 120px;
    padding: 0px 295px;
}
.banner .banner-caption{
    /* border: 1px solid red; */
    border-radius: 1000px;
    margin: 0 auto;
    max-width: 229px;
    height: 35px;
    padding: 8px 12px;
    background-color: #FFFFFF;
    display: flex;
    gap: 1.5px;
    cursor: pointer;
}
.banner .banner-caption p{
    margin-left: 2px ; 
    font-size: 16px;
    font-weight: medium;
    color: #30B868;
}
.banner .banner-caption img{
    margin-right: 2px;
    max-width: 16px;
    max-height: 16px;
}
.banner-details .banner-title{
    margin: 0 auto;
    padding-top: 16px;
    font-size: 72px;
    line-height: 84px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    text-transform: capitalize;
}
.banner-details .banner-text{
    text-align: center;
    margin: 0 auto;
    padding-top: 16px;
    font-size: 18px;
    line-height: 24px;
    font-weight: regular;
    color: #FFFFFF;
}
.banner-details .banner-btns{
    /* border: 1px solid red; */
    margin: 0 auto;
    padding-top: 32px;
    max-width: 465px;
    display: flex;
    justify-content: center;
    gap: 16px;
}
.banner-details .banner-btns .btn-2{
    max-width: 251px;
    background-color: #30B868;
    padding: 16px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: semi-bold;
    color: #FFFFFF;
    cursor: pointer;
}
.banner-details .banner-btns .btn-3{
    max-width: 198px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 4px;
    font-size: 16px;
    font-weight: semi-bold;
    padding: 16px;
    color: #FFFFFF;
    cursor: pointer;
}